.booking-container {
    margin: 50px 100px;
}
.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table tr:nth-child(even){background-color: #f2f2f2;}
  
  .table tr:hover {background-color: #ddd;}
  
  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  .btn-detail {
    margin-left: 10px;
    width: 80px;
    height: 60px;
    border: 1px solid aqua;
    background-color: aqua;
    color: red;
    border-radius: 10px;
    font-size: 1.25em;
    cursor: pointer;
   }
